ion-card {
    background: var(--color-dark);
}
ion-button {
    --color: var(--color-light);
    --background: var(--color-purple);
    --border-color: var(--color-purple);
}
ion-content {
    --background: var(--color-purple);
}