ion-content {
    --background: var(--dark-mode-backgound-color);
}
#btn-add-fav {
    --background: var(--primary-color);
    --color: black;
    --border-radius: 25%;
    position: fixed;
    bottom: 0.2rem;
    right: 0.2rem;
}
#btn-icon {
    --color: var(--primary-color);
}