<ion-header>
  <ion-toolbar>
    <ion-title>Tienda de articulos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>

    <img alt="" src="https://pbs.twimg.com/media/F-UoHQ_XYAASvzS?format=jpg&name=large" />

    <ion-card-header>

      <ion-card-title>Cómo y cuándo se actualiza la tienda</ion-card-title>

    </ion-card-header>
  
    <ion-card-content>
      La tienda se actualiza cada dia, normalmente a las 21:00 en tu hora local (GMT-3). Cuando la tienda de objetos se actualiza,
      los objetos disponibles de ese momento podrian actualizarse o desaparecer para posiblemente añadir objetos nuevos.
      ¡No te pierdas las novedades!
    </ion-card-content>

  </ion-card>

  <div>

    <ion-grid>

      <ion-row>

        <ion-col sizeMd="3" size="12" *ngFor="let item of bundle">
          <!-- bundle solo -->
          <ion-card-title>{{ item.layout.name }}</ion-card-title>
          <ion-card>
            <ion-img [src]="item.bundle?.image"></ion-img>
            <ion-card-header>
              <ion-card-title>{{ item.bundle?.name }}</ion-card-title>
            </ion-card-header>
            <ion-label>Precio final: {{ item.finalPrice }} V-Bucks </ion-label>
          </ion-card>

          <ion-row>
            <ion-col sizeMd="4" size="6" *ngFor="let btw of item.brItems">
              <ion-card>
                <ion-img *ngIf="btw.images.featured; else iconTemplate" [src]="btw.images.featured"></ion-img>
                <ng-template #iconTemplate>
                  <ion-img [src]="btw.images.icon"></ion-img>
                </ng-template>

                <ion-card-content>
                  <ion-label>{{ btw.name }}</ion-label>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-col>

      </ion-row>

      <!-- nose -->
      <ion-row>

        <ion-col sizeMd="3" size="12" *ngFor="let item of seccion">
          <ion-card>
            <ion-row>
              <ion-col size="6" *ngFor="let btw of item.brItems">
                <ion-img [src]="btw.images.icon"></ion-img>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6" *ngFor="let btw of item.brItems">
                <ion-label>{{ btw.name }}</ion-label>
              </ion-col>
            </ion-row>
            <div class="item-details">
              <ion-label>Precio regular: {{ item.regularPrice }} V-Bucks</ion-label>
              <p></p>
              <ion-label>Precio final: {{ item.finalPrice }} V-Bucks </ion-label>
            </div>
          </ion-card>
        </ion-col>

      </ion-row>

    </ion-grid>

  </div>

  <ion-card id="card-pers">
    <ion-card-content>
      <ion-input id="inp-name" type="text" placeholder="Ingrese articulo" [(ngModel)]="name"></ion-input>
      <ion-input id="inp-id" type="number" placeholder="Ingrese ID" [(ngModel)]="number"></ion-input>
    </ion-card-content>  
  </ion-card>

  <ion-button id="btn-add" (click)="guardar()" [routerLink]="['/tab-componet/settings']"><ion-icon name="add"></ion-icon></ion-button>
 
</ion-content>