<ion-header>
  <ion-toolbar>
    <ion-title>Tienda de articulos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>

    <img alt="" src="https://pbs.twimg.com/media/F-UoHQ_XYAASvzS?format=jpg&name=large" />

    <ion-card-header>

      <ion-card-title>Cómo y cuándo se actualiza la tienda</ion-card-title>

    </ion-card-header>

    <ion-card-content>
      La tienda se actualiza cada dia, normalmente a las 21:00 en tu hora local (GMT-3). Cuando la tienda de objetos se
      actualiza,
      los objetos disponibles de ese momento podrian actualizarse o desaparecer para posiblemente añadir objetos nuevos.
      ¡No te pierdas las novedades!
    </ion-card-content>

  </ion-card>

  <div>
    <ion-grid>
      <ion-row>
        <ion-col sizeMd="6" size="12" *ngFor="let category of grouped | keyvalue">
          <h1>{{ category.key }}</h1>
          <ion-card *ngFor="let item of category.value">
            <ion-card-header>
              <ion-card-title *ngIf="item.bundle">{{ item.bundle.name }}</ion-card-title>
              <ion-img *ngIf="item.bundle?.image" [src]="item.bundle.image"></ion-img>
            </ion-card-header>
            <ion-card-content>
              <ion-label *ngIf="item.bundle">Contenido:</ion-label>
              <ion-list>
                <ion-item *ngFor="let btw of item.brItems">
                  <ion-card>
                    <ion-card-header>
                      <ion-img *ngIf="btw.images.featured; else iconTemplate" [src]="btw.images.featured"></ion-img>
                      <ng-template #iconTemplate>
                        <ion-img [src]="btw.images.icon"></ion-img>
                      </ng-template>
                      <ion-card-title>{{ btw.name }}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <div class="item-details">
                        <ion-label>Precio regular: {{ item.regularPrice }} V-Bucks</ion-label>
                        <p></p>
                        <ion-label>Precio final: {{ item.finalPrice }} V-Bucks</ion-label>
                      </div>
                    </ion-card-content>
                  </ion-card>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
  
  
  
  
  
































  <ion-card id="card-pers">
    <ion-card-content>
      <ion-input id="inp-name" type="text" placeholder="Ingrese articulo" [(ngModel)]="name"></ion-input>
      <ion-input id="inp-id" type="number" placeholder="Ingrese ID" [(ngModel)]="number"></ion-input>
    </ion-card-content>
  </ion-card>

  <ion-button id="btn-add" (click)="guardar()" [routerLink]="['/tab-componet/settings']"><ion-icon
      name="add"></ion-icon></ion-button>

</ion-content>