<!--
  La 'news.page' es la vista principal al inciar sesión, donde se muestran las ultimas noticias recientes.
  Dentro de esta misma vista se puede acceder a las multifuncionalidades de esta.
  Se presentaran 5 apartados: "Cuenta", "Noticias", "Tienda", "Salvar al mundo", y "Configuración".
-->

<ion-header collapse="condense">

  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button id="btn-icon">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button id="btn-icon">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <div class="card-background" #homeCardBg></div>
    <img alt="" src="https://pbs.twimg.com/media/GYFffiKWkAANbwJ?format=jpg&name=900x900" />

    <ion-card-header>
      <ion-card-title>Fortnite</ion-card-title>
      <ion-card-subtitle>Septiembre 22, 2024</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Así que... Muchas. Escaleras. Pero ¡qué vistas!
      El Kit de LEGO del Vecindario espectacular ya está disponible en la tienda: http://fn.gg/FriendlyNeighborhood
    </ion-card-content>

  </ion-card>
  
  <ion-card *ngFor="let item of newsItems">
    <div class="card-background" #homeCardBg></div>
    <ion-card-header>
      <h6>{{ item.tabTitle }}</h6>
      <ion-card-title>{{ item.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="item.image || 'assets/default-image.png'"></ion-img>
      <div class="item-details">
        <br>
        <p>{{ item.body }}</p>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- <> Botón para volver al encabezado de la vista <> -->
  <ion-button id="btn-scroll" (click)="scrollToTop()"><ion-icon name="arrow-up"></ion-icon></ion-button>

</ion-content>