<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button>
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button>
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Inicio</ion-title>
    </ion-toolbar>

  </ion-header>
  
  <div id="container">
    <ion-card>
      <img alt="Silhouette of mountains" src="https://avatars.githubusercontent.com/u/133883483?v=4" />
      <ion-card-header>
        <ion-card-title>Benja y su Encuentro la la gotita</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
  </div>  

  <div id="nav">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home"></ion-icon>
          Incio
        </ion-tab-button>
        <ion-tab-button tab="settings">
          <ion-icon name="settings-sharp"></ion-icon>
          Configuracion
        </ion-tab-button>
        <ion-tab-button tab="profile">
          <ion-icon name="person-sharp"></ion-icon>
          Perfil
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </div>
</ion-content>