<ion-tabs>

  <ion-tab-bar id= "btn-tab" slot="bottom">

    <ion-tab-button tab="news">
      <ion-icon name="newspaper"></ion-icon>Noticias
    </ion-tab-button>

    <ion-tab-button tab="shop">
      <ion-icon name="cart"></ion-icon>Tienda
    </ion-tab-button>

    <ion-tab-button tab="stw">
      <ion-icon name="skull"></ion-icon>Salvar al mundo
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-sharp"></ion-icon>Ajustes
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>