<app-header title="Fan-Art"></app-header>

<ion-content>

  <form (submit)="sendEmail()">
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="name" name="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Correo</ion-label>
      <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Mensaje</ion-label>
      <ion-textarea [(ngModel)]="message" name="message" required></ion-textarea>
    </ion-item>

    <ion-button expand="full" type="submit">Enviar</ion-button>
  </form>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addFanart()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
