<!--
  La 'login.page' es donde se solicitan los datos de la cuenta para poder iniciar sesión.
  Se presentaran 2 campos de datos y 2 botones.
  Cada campo pedira su respectivo dato, el botón llevara a la 'home.page' una vez sean validado los datos y campos.
  [Recuperar contraseña].
-->

<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    
    <ion-card-header>
      <ion-card-title>Ingrese su nombre de usuario y contraseña</ion-card-title>      
    </ion-card-header>
    
    <ion-card-content>

      <ion-item>
        <!-- <> Campo de dato: Usuario <> -->
        <ion-input label="Usuario" labelPlacement="floating" [(ngModel)]="login.Usuario" ></ion-input>
      </ion-item>

      <ion-item>
        <!-- <> Campo de dato: Contraseña <> -->
        <ion-input label="Contraseña" labelPlacement="floating" type="password" [(ngModel)]="login.Contrasena" ></ion-input>
      </ion-item>

      <!-- <> Botones con sus respectivas opcines <> -->
      <ion-button expand="block" (click)="ingresar()">Iniciar Sesión</ion-button>
      <ion-button expand="block">Recuperar Contraseña</ion-button>

    </ion-card-content>

  </ion-card>

</ion-content>