ion-content {
    --background: var(--dark-mode-backgound-color);
}
ion-button {
    --color: var(--light-mode-backgound-color);
    --background: var(--primary-color);
}
.image-icon {
    font-size: 100px;
    opacity: 30%;
}
ion-avatar {
    width: 200px;
    height: 160px;
    --border-radius: 15px;
    margin: 0 auto;
}