<!--
  La 'register.page' es donde se solicitan datos para la creación de una cuenta.
  Se presentaran 5 campos de datos y 1 botón.
  Cada campo pedira su respectivo, el botón llevara a la 'news.page' una vez que los campos de datos se hayan completado.
-->

<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-title>Registro de cuenta</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    
    <ion-card-header>
      <ion-card-title>Ingrese datos</ion-card-title>      
    </ion-card-header>

    <ion-card-content>

      <ion-item> <!-- <> Campo de dato: Nombre <> -->
        <ion-input label="Nombre" labelPlacement="floating" [(ngModel)]="register.Nombre"></ion-input>
      </ion-item>

      <ion-item> <!-- <> Campo de dato: Apellido <> -->
        <ion-input label="Apellido" labelPlacement="floating" [(ngModel)]="register.Apellido"></ion-input>
      </ion-item>

      <ion-item> <!-- <> Campo de dato: Usuario <> -->
        <ion-input label="Usuario" labelPlacement="floating" [(ngModel)]="register.Usuario"></ion-input>
      </ion-item>

      <ion-item> <!-- <> Campo de dato: Correo <> -->
        <ion-input label="Correo" labelPlacement="floating" [(ngModel)]="register.Correo"></ion-input>
      </ion-item>

      <ion-item> <!-- <> Campo de dato: Contraseña <> -->
        <ion-input label="Contraseña" labelPlacement="floating" type="password" [(ngModel)]="register.Contrasena"></ion-input>
      </ion-item>

    </ion-card-content>

    <!-- <> Botón para registrarse <> -->
    <ion-button expand="block" (click)="registrar()">Registrarse</ion-button>

  </ion-card>

</ion-content>