<ion-header>
  <ion-toolbar>
    <ion-title>Alerta de misiones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>

    <img alt="" src="https://cdn2.unrealengine.com/stw-1920-1920x1080-5a049ecca449.jpg" />

    <ion-card-header>

      <ion-card-title>Cómo y cuándo se actualiza la tienda</ion-card-title>

    </ion-card-header>
  
    <ion-card-content>
      Las alerta de misiones se actualizan cada dia, normalmente a las 21:00 en tu hora local (GMT-3). Cuando las alerta de misiones se actualiza,
      las alertas disponibles de ese momento seran modificadas para añadir alertas nuevas.
      ¡No te pierdas ninguna alerta de misión!
    </ion-card-content>

  </ion-card>

</ion-content>