<!--
  La 'home.page' es donde se iniciara la aplicación una vez se alla descargado o una vez se alla cerrado sesión.
  Se presentaran 2 opciones, las cuales son: 'Iniciar Sesión' y 'Registrarse'.
  Cada opción llevara a su respectiva vista. 
-->

<ion-content [fullscreen]="true">
  
  <div id="container-btn">

    <img src="assets/img/icon-fortnite.jpg" alt="">

    <!-- ::: Botón 'Iniciar Sesión' ::: -->
    <ion-button expand="block" [routerLink]="['/login']">Iniciar Sesión</ion-button>

    <!-- ::: Botón 'Registrarse' ::: -->
    <ion-button expand="block" [routerLink]="['/register']">Registrarse</ion-button>

  </div>
  <dir></dir>

</ion-content>